<div id="about_text" >
    <div class="container-fluid" id="myPic">
        <img src="/assets/img/Manish.jpg" id="im1"/>
    </div>

    <div class="container-fluid myInfo">
        <p>Hi, I'm Manish Rai.</p>
        <p>I am a software engineer at Quadeye Securities, India.</p>
        <p>I graduated from IIT Kanpur with Bachelor's degree in CSE.</p>
        <p>I love programming. It allows me to create wonderful stuffs and simplify some everyday tasks.</p>
        <p>Then, there are mysteries of the cosmos that is of great interest to me. I am also crazy about football and movies.</p>
        <p>I also want to do a lot of other things. <a href="/pages/todo.html">Things that excite me</a>.</p>
        <p>Much happy to collaborate on ideas that are interesting.</p>
    </div>
</div>
