<div id="about_text" >
    <div class="container-fluid" id="myPic">
        <img src="/assets/img/self/Manish.jpg" id="im1"/>
    </div>

    <div class="container-fluid myInfo">
        <p>Hey there! I'm Manish Rai.</p>
        <p>I am super busy building the system for UniStack, the one stop solution for ONDC needs.</p>
        <p>I graduated from IIT Kanpur with Bachelor's degree in CSE.</p>
        <p>I love programming. It allows me to create wonderful stuffs and simplify some everyday tasks.</p>
        <p>Then, there are mysteries of the cosmos that is of great interest to me. </p>
        <p>I am quite selective on movies and ever-ready to go on a trip especially to green parts of the world.</p>
        <p>I also want to do a lot of other things. <a href="/pages/todo.html">Things that excite me</a>.</p>
        <p>Much happy to collaborate on ideas that are interesting.</p>
    </div>
</div>
