<!-- set footer -->
<div class="container-fluid" id="isfoot">
      <ul class="container-fluid" id="socialIM">
          <li> <a href="https://www.facebook.com/rmanish21"><img src="/assets/img/fb.png"/></a>
          <li><a href="https://www.linkedin.com/in/manish-rai-186a5442/"><img src="/assets/img/lkin.png"/></a>
          <li> <a href="https://github.com/RaiManish3"><img src="/assets/img/git.png"/></a>
          <li><a href="mailto:manish.07.1996@gmail.com"><img src="/assets/img/mail.png"/></a>
      </ul>
      <div class="container-fluid" style="margin:20px 0 5px;">
          Developed by Manish Rai.
      </div>
</div>
<script src="/assets/actions/action.js" type="text/javascript"></script>
